The new user has been successfully created

Login: {{ new_user_name_global }}
Password: {{ user_password.stdout }}
Key: ~/ansible_installation_reports/{{ new_user_name_global }}_id_rsa
Date: {{ ansible_date_time.date }}

=========================================

SSH:
{% for h in ansible_play_batch %}
ssh -i ~/ansible_installation_reports/{{ new_user_name_global }}_id_rsa {{ new_user_name_global }}@{{ hostvars[h].ansible_host }}
{% endfor %}

{% for h in ansible_play_batch %}
ssh -i ~/ansible_installation_reports/{{ new_user_name_global }}_id_rsa {{ new_user_name_global }}@{{ hostvars[h].ansible_nodename }}
{% endfor %}
