{{ ansible_managed | comment(decoration="# ") }}

[client]
host     = localhost
user     = {{mariadb_admin_user}}
password = {{mariadb_admin_password}}
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = {{mariadb_admin_user}}
password = {{mariadb_admin_password}}
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
